*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: 'Poppins', sans-serif;
}
.header-area{
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    
    width: 100%;
    background-size: cover;
    padding-bottom: 150px;
}
.container{
    width: 1170px;
    margin: auto;
}
h2{
    font-size: 40px;
}
nav img{
    width: 15%;
    padding-left: 127px;
    padding-top: 10px;
}

nav ul{
    float: right;
    padding: 10px;
    padding-right: 47px;
}
nav ul li{
    display: inline-block;
    
    padding: 0 10px;
}

ul li a {
text-decoration: none;
}

.half-width {
    width: 40%;
    float: left;
    
}
.half-width img {
    width: 100%;
    padding-left: 58px;
    padding-top: 35px;
    
}
span.my-name {
    font-weight: 900;
    font-size: 45px;
    color: #ffc81d;
    line-height: 79px;
}
.half-width.text-area {
    padding-left: 130px;
    padding-top: 163px;
}
a.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, #ffa032, #ffce19);
    padding: 10px 20px;
    border-radius: 5px;
    /* margin-top: -54px; */
    color: white;
    font-weight: 700;
    /* overflow: hidden; */
}
.half-width.text-area p {
    margin-bottom: 30px;
    margin-top: 10px;
}
.about-area{
    background-image: url(../images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-bottom: 150px;
}
a.link-button2 {
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff1771, #ff5096);
    padding: 10px 20px;
    border-radius: 5px;
    /* margin-top: -54px; */
    color: white;
    font-weight: 700;
    /* overflow: hidden; */
}

.half-width.about-description p {
    margin-bottom: 35px;
    margin-top: 25px;
}
.half-width.about-description {
    padding-left: 220px;
    padding-top: 180px;
}

.portfolio-area{
    background-image: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-bottom: 150px;
    padding-top: 100px;
    width: 100%;
}
.work-img img {
    width: 30%;
    padding: 7px;
    margin: 7px;
}
.title h2 {
    text-align: center;
    margin-bottom: 50px;
}
.testimonial-area{
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-bottom: 150px;
    padding-top: 100px;
    width: 100%;
}

.testimonial-description {
    margin: auto;
    width: 33%;
}

.testimonial-description h3 {
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}
.testimonial-description h6 {
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    color: dimgray;
    font-weight: 500;
}
.testimonial-description p {
    padding-top: 35px;
    text-align: center;
    font-weight: 500;
}

.mail-box {
    width: 50%;
    margin: auto;
    padding-top: 10px;
    margin-top: 80px;
   
    background-image: linear-gradient(45deg, #ff1772, #ff4b93);
    padding-bottom: 80px;
    border-radius: 10px;
}

.mail-box h6 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: white;
    line-height: 100px;
}

.mail-box h3 {
    text-align: center;
    color: white;
    font-size: 28px;
}

.mail-box {}

footer p {
    text-align: center;
    margin-top: 40px;
    color: dimgray;
    margin-bottom: 40px;
}
